*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
#body{
            
    display: flex;
    /* border: 1px solid red; */
}


#report{
    top: 10%;
    position: absolute;
    left: 14%;
    background-color: #f2f6f8;
    width: 86%;
    /* border: 1px solid black; */
}
#box1{
    width: 95%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 40px;
}
#part2{
    display: flex;
    height: 40px;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(191, 191, 191);
}
#empty1,#empty2,#empty3,#empty4{
    height: 25px;
    text-align: center;
}
#part1>button{
    height: 40px;
    width: 40%;
}
#part1{
    display: flex;
    
}
#box2{
    width: 94%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 60px;
    border: 1px solid rgb(191, 191, 191);
    background-color: #ffffff;

}
#part3{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#btn1{
    background-color: rgb(63, 194, 214);
  width: 150px;
  margin: 8px;
}
 button{
    cursor: pointer;
    background-color: #ffffff;
  border: 1px solid rgb(191, 191, 191) ;
  height: 35px;
    
 }  
#calender>a>img{
    text-decoration: none;
    color: rgb(136, 134, 134);
    height: 30px;
}
a{
    text-decoration: none;
    color: black;
}
 button:hover{
    background-color: #E4EAEE;
} 
#box3{
    width: 94%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 40px;
    border: 1px solid rgb(191, 191, 191);
    background-color:#e4eaee;
}
#part4{
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
}
#part5{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#box4{
    height: 320px;
    width: 94%;
    padding: 10px;
    margin: auto;
    background-color: white;
    border: 1px solid rgb(191, 191, 191);
}
#box5{
    width: 94%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    height: 40px;
    gap: 20px;
  padding: 10px;
    border: 1px solid rgb(191, 191, 191);
    background-color:#e4eaee;
}
#box6{
    padding: 10px;
    background-color: white;
    height: 320px;
    width: 94%;
    margin: auto;
    border: 1px solid rgb(191, 191, 191);
}
select{
    border: none;
}
/* calender css */
.dashboard__container__graph{
    box-shadow: 2px 2px 8px rgb(177, 176, 176); 
    width: 100%;
    margin: auto;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
}