
body{
    background-color: rgb(242,246,248);
    padding-left: 8%;
    padding-right: 8%;
}

form{
    background-color: white;
    text-align: center;
    
}
#text{
    text-align: center;
}

#end>form{
    width: 30%;
    display: grid;
    margin: auto;
    margin-left: 35%;
    margin-top: 70px;
    margin-bottom: 40px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
form>input{
    border: 1px solid rgb(198,210,217);
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 75%;
    padding: 15px 15px 15px 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
 

form>p{
    width: 80%;
    text-align: center;
    margin: 0px 0px 30px 40px;
}

#img>a{
    margin-left: 90%;
}
#img>img{
    height: 35px;
    margin-top: 25px;
    margin-left: 50px;
}
form>div{
    width: 75%;
    height: 45px;
    display: flex;
    text-align: center;
    margin: auto;
    padding-top: -10px;
    border: 1px solid rgb(198,210,217);
    margin-bottom: 30px;
}
#form>div>img{
    width: 40px;
    height: 20px;
    margin-top: 15px;
    margin-right: 30px;
}
